body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 18px;
    overflow-x: hidden;
    color: #5a5a5a; 
}

    .container{
        margin-top: 10px;
        
    }
    .row{
        margin-top:20px;
        margin-left:20px;
        margin-right:20px;
        margin-bottom:20px;
    }
    
    

    
    .container .event-time{
        height: 100px;
        background-color: #F5F5F5;
    }
    .event-time form{
        margin-left: 50px;
    }
    .event-time .btn-primary{
        margin-top: 25px;
    }
    .event-time .dropdown{
        float: right;
        margin-top:-70px; 
        margin-right: 50px;
        text-decoration: none;

    }
    .dropdown .btn-default{
        background-color: #F5F5F5;
        border: none;
    }
    .dropdown .dropdown-menu{
        background-color: #F5F5F5;
    }
    .container h2{
        margin-top: 30px;
        color:  #778899;
        font-family: "Times New Roman", Georgia, Serif;
    }
    .container .tribe-events-list-separator-month h4 {
        font-weight: normal;
        text-transform: uppercase;
        font-size: 18px;
        margin: 1.25em auto;
        margin-top: 20px;
        color:  #778899;

        font-family: "Times New Roman", Georgia, Serif;

    }
    .container .col-sm-4 p{
        margin-top: -40px;
        font-family: "Times New Roman", Georgia, Serif;
        padding: 0 5px;
    }
    .col-sm-4 .btn-default{
        margin-top: 40px;
    }
    .col-sm-4 .table{
        font-family: "Times New Roman", Georgia, Serif;
    }
        
.events_image {
    background-repeat: no-repeat;
background-size: cover;
}

        
        
        
        .navbar-brand , .nav-link, .my-form, .login-form
        {
            font-family: Raleway, sans-serif;
        }
        
        .my-form
        {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
        
        .my-form .row
        {
            margin-left: 0;
            margin-right: 0;
        }
        
        .login-form
        {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
        
        .login-form .row
        {
            margin-left: 0;
            margin-right: 0;
        }
