.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

//index introduction css
.body.container h5{
   font-family: 'Alegreya Sans SC', sans-serif;
   color:#666666;
}

/* Three columns side by side */
.column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color:  #cccccc
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}


#mgmt{
    display: flex;
    align-items: center;
    justify-content: center;
}

#mgmts h5{
           text-align: center;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 100;
            letter-spacing: 0.05em;
            word-spacing: 0.1em;
}
#mgmt h5{
           text-align: center;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 100;
            letter-spacing: 0.05em;
            word-spacing: 0.1em;
}


#products{
background-color:lavender; 
font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
           text-transform: uppercase;
            font-weight: 100;
            letter-spacing: 0.05em;
            word-spacing: 0.1em;
           text-align: center;
}

#products .table {
    border-collapse: collapse;
    width: 100%;

}


th, td {
     text-align: center;
    padding: 8px;
}

tr:nth-child(odd){background-color:#b3b3cc}
tr:nth-child(even){background-color:white}
th {
    background-color: #82aef2;
    color: white;
}

.contain center{
            text-align: center;
            font-size: 0.1rem;      
            letter-spacing: 0.05em;
            word-spacing: 0em;
}
